<h1>All Venues</h1>

<% @venues.each do |venue| %>
  <h3><a href="/venues/<%= venue.id %>"><%= venue.name %></a></h3>
  <%= button_to "Edit #{venue.name}", "/venues/#{venue.id}/edit", method: :get %>
  <%= button_to "Delete #{venue.name}", "/venues/#{venue.id}", method: :delete %>
<% end %>